registry=https://registry.npmjs.org/
always-auth=false

@fluid-example:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@fluid-example:always-auth=true

@fluidframework:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@fluidframework:always-auth=true

tinylicious:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
